<h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<div class="mgt-update-account">
    <form action="/account/update" method="post">
        <h2>Personal Information</h2>
        <label for="account_firstname">First Name:</label>
        <input type="text" name="account_firstname" id="account_firstname" value="<%= locals.accountData.account_firstname %>" required>
        <label for="account_lastname">Last Name:</label>
        <input type="text" name="account_lastname" id="account_lastname" value="<%= locals.accountData.account_lastname %>" required>
        <label for="account_email">Email:</label>
        <input type="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" name="account_email" id="account_email" value="<%= locals.accountData.account_email %>" required>
        <input type="hidden" name="account_id" id="account_id" value="<%= account_id %>" required>
        <input type="submit" value="Update information">
    </form>

    <form action="/account/password" method="post">
        <h2>Change Password</h2>
        <label for="account_password">Password:</label>
        <input name="account_password" id="account_password" type="password" placeholder="Enter your password" 
            required minlength="12"
            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{12,}$">
        <p class="hint">Must be at least 12 characters, include 1 uppercase, 1 number, and 1 special character.</p>

        <input type="hidden" name="account_id" id="account_id" value="<%= account_id %>" required>
        <input type="submit" value="Change password">
    </form>
</div>

